#canvas1 {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

#container {
    position: absolute;
    width: 800px;
    transform:translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 25px;
}

#canvas2 {
    position: relative;
    width: 800px;
    height: 700px;
    
}

#canvas3,
#canvas4,
#canvas5,
#canvas6 {
    border: 3px solid black;
    width: 350px;
    height: 700px;
}


.wrap {
    display: flex;
    justify-content: space-around;
}

#controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

#controls, 
select, 
option {
    font-size: 25px;
}

#slider {
    width: 100%;
}



p {
    color: white;
}